<div class="fifth">   
    <div class="fifth__menu">
    <!-- Your menu is same as menu in fifth header. So you can simple use this menu (with 
    all its classes) in your header. -->

        <img src="img/ui-logo.svg" alt="UI logo" width="70" height="70">
        <ul class="fifth__navigation">
                <li class="nav__link"><a href="#">Products</a></li>
                <!-- You may use class nav__link for li tag
                For a tag it's not necessary. 
                And you don't have the nav__item class in CSS, this class used in 
                eigth header -->
                
                <li class="nav__link"><a href="#">Prices</a></li>
                <li class="nav__link"><a href="#">About Us</a></li>
                <li class="nav__link"><a href="#">Contacts</a></li>
        </ul>
    </div>
    <div class="text">
        <h1 class="text__theme">
            <span>
                Take Your UI Design <br> To A Whole New Level
            </span>
            
        </h1>

        <p class="text__advantages">
            For good, too; though, in consequence of my previous emotions. I was still <br>
            occasionally seized with a stormy sob. After we had jogger on for some <br>
            little time, I asked the carrier if he was going all the way
        </p>

    </div>

    <div class="numbers">
        <div class="UIElements">
            <span class="thousand">
                1000
            </span>

            <span>
                UI <br> Elements
            </span>
            
        </div>
        
        <div class="BasicTemplates">
            <span class="twohundred">
                200
            </span>

            <span>
                Basic <br> Templates
            </span>
        </div>

        <div class="UniqueIcons">
            <span class="hundred">
                100
            </span>

            <span>
                Unique <br> Icons
            </span>

        </div>
    </div>

    <div class="down-button">
            <svg width="70" height="70">
                    <circle cx="35" cy="35" r="30" stroke="gray" stroke-width="4" fill="none" />
            </svg>
    </div>
</div>