      <div class="header-second-content">
         <label for="header-second__bars" class="header-second__bars icon-menu" aria-hidden="true">
          </label>
           <input class="header-second__check" id="header-second__bars" type="checkbox">
         <ul class="nav header-second__nav">
            <li class="nav__item"><a href="#" class="nav__link">Products</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Prices</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
         </ul>
         <img class="header-second__logo" src="img/ui-logo.svg" alt="UI logo" width="70" height="70">
         <div class="header-second__head">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</div>
         <a href="" class="header-second__button">Learn more</a>
      </div>
