<div class="header header__fourth">
		<div class="header__fourth__wrapp">
			<nav class="header__fourth__nav">
				<ul class="header__fourth__menu">
					<li class="header__fourth__item">
						<a class="header__fourth__link" href="#">Products</a>
					</li>
					<li class="header__fourth__item">
							<a class="header__fourth__link" href="#">Prices</a>
					</li>
					<li class="header__fourth__item">
							<a class="header__fourth__link" href="#">About Us</a>
					</li>
					<li class="header__fourth__item">
							<a class="header__fourth__link" href="#">Contacts</a>
					</li>
				</ul>	
				<div class="header__fourth__logo">
					<img src="img/ui-logo.svg" alt="UI logo" width="70" height="70">
				</div>
			</nav>
			<div class="header__fourth__content">
				<img class="header__fourth__content__img" src="img/iPhone-bg.png" alt="iPhone">
				<h2 class="header__fourth__title">This I have produced as a scantling of Jack’s great eloquence and</br> 
						the force of his reasoning upon such abstruse matters.</h2>
				<a class="header__fourth__button header__fourth__link" href="#" download>Download</a>
			</div>
		</div>
	</div>	